@import "tailwindcss";

@layer base {
  body {
    @apply bg-[#0f172a] text-white;
  }
}

@layer components {
  .hover-link {
    @apply transition duration-300;
    &:hover {
      @apply text-purple-500;
    }
  }

  .page-container {
    @apply container mx-auto p-8;
  }
}
