@import "tailwindcss";

@layer base {
  body {
    @apply bg-[#0f172a] text-white;
  }
}

@layer components {
  .hover-link {
    @apply transition duration-300;
    &:hover {
      @apply text-purple-500;
    }
  }

  .page-container {
    @apply container mx-auto p-8;
  }

  .navbar-btn {
    @apply bg-purple-600 hover:bg-purple-700 text-white cursor-pointer px-6 py-2 rounded-md font-medium transition duration-300 ml-4;
  }
}
